@model MiliNeu.Models.ViewModels.ColorViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Color View</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ColorID" />
            <div class="form-group">
                <label asp-for="ColorName"  class="control-label"></label>
                <input asp-for="ColorName" required class="form-control" />
                <span asp-validation-for="ColorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HexCode" class="control-label"></label>
                <input asp-for="HexCode" required class="form-control" />
                <span asp-validation-for="HexCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
