<div class="category-container">
    <div class="category fade-out-bottom">
        <a asp-controller="Products" asp-action="ProductsByCategory" asp-route-categoryId="1">
            <img loading="lazy" src="/Resources/Images/Banner/sydney-sweeney2.jpg" />
            <label>WOMEN</label>
        </a>

    </div>
    <div class="category fade-out-bottom">
        <a asp-controller="Products" asp-action="ProductsByCategory" asp-route-categoryId="2">
            <img loading="lazy" src="/Resources/Images/Banner/ana-de-armas1.jpg" />
            <label>UNISEX</label>
        </a>
    </div>
</div>


