
.category-container {
    display: flex;
    max-width: 1240px;
    margin: 5rem auto 4rem auto;

}

    .category-container .category {
        position: relative;
        overflow: hidden;
        height:100%;
        width:100%;
    }


        .category-container .category a {
            display: block; /* Ensures the anchor wraps the entire image */
        }

        .category-container .category img {
            width: 100%;
            aspect-ratio: 11/16;
            object-fit: cover;
            transition: transform 1s cubic-bezier(0, 0, 0.21, 0.99);
        }

.category:hover img {
    transform: scale(1.05); /* Zoom in effect */
    transition: transform 1s cubic-bezier(0, 0, 0.21, 0.99);
}

.category-container .category label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the label */
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px; /* Adds padding around the text */
    border-radius: 5px;
    cursor: pointer;
}
