@model MiliNeu.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home";
    string imageBasePath = ViewData["ImageBasePath"].ToString();
}









<section class="carousel">

    <div class="carousel-images">
        @if (Model.HeroSections==null|| !Model.HeroSections.Any(c=>c.IsActive))
        {
            @foreach (var collection in Model.AllCollections)
            {
                <div class="item-carousel">
                    <img loading="lazy" src="/Resources/Images/Collections/@(collection.Images.FirstOrDefault(i=>i.IsMain).Path)" alt="Image 1">
                    <div class="cta">
                        <p>BESTSELLERS</p>
                        <a href="/Products/BestSellers">SHOP NOW</a>
                    </div>
                    
                </div>



            }
        }
        else
        {
            
            @foreach (var heroSection in Model.HeroSections)
            {
                if (heroSection.IsActive==true)
                {
                    <div class="item-carousel">
                        <img loading="lazy" src="/Resources/Images/HeroSection/@(heroSection.Image.Path)" alt="@(heroSection.Image.Path)">
                        <div class="cta">
                            <p>@heroSection.Title</p>
                            <a href="@heroSection.Link">SHOP NOW</a>
                        </div>
                    </div>
                }
                



            }
            @* <div class="item-carousel">
                <video src="/Resources/video/BellaHadid2.mp4" autoplay muted loop></video>
                <div class="cta">
                    <p>BestSellers</p>
                    <a href="/Products/BestSellers">SHOP NOW</a>
                </div>
            </div> *@
        }
        


    </div>

    <!-- Carousel navigation -->
    <a class="prev" onclick="changeSlide(-1)"> 
        <svg role="img" xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24" aria-labelledby="chevronLeftIconTitle" stroke="#000000" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" fill="none" color="#000000"> <title id="chevronLeftIconTitle">Chevron Left</title> <polyline points="14 18 8 12 14 6 14 6" /> </svg>
    </a>
    <a class="next" onclick="changeSlide(1)"> 
        <svg role="img" xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24" aria-labelledby="chevronRightIconTitle" stroke="#000000" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" fill="none" color="#000000"> <title id="chevronRightIconTitle">Chevron Right</title> <polyline points="10 6 16 12 10 18 10 18" /> </svg>
    </a>
</section>



<section>
    <p class="section-heading fade-out-left">BESTSELLERS</p>
    @await Html.PartialAsync("_gallery", Model.BestSellers)

    <div class="cta-product-all">
        <a href="/Products">VIEW ALL</a>
    </div>
</section>




<section>
    @await Html.PartialAsync("_CategorySelection")
</section>

@await Html.PartialAsync("_SubscribeSection")


<section>
    @await Html.PartialAsync("_Socials")
</section>


@await Html.PartialAsync("_Footer")



@section scripts {
    <script async src="~/js/Carousel.js"></script>
}


