@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<p class="page-title">Manage your account</p>

<div>
    <hr />
    <div class="row mt-5 flex-row justify-content-center">
        <div class="col-md-2">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-4">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
