
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Milineu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MiliNeu.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>
<body>
    <header>
        @* SideBar-------------- *@
        <div class="main_box">
           <input type="checkbox" name="" id="check">
        
       
        <div class="sidebar_menu">
          @*   <div class="logo">
                <a href="">CodingLab</a>
            </div>
             *@
            <div class="menu">
                 <div class="btn_two">
                <label for="check">
                    <i class="fas fa-times"></i>
                </label>
            </div>
            <ul>
                @if (SignInManager.IsSignedIn(Context.User))
                {
                    var user = await UserManager.GetUserAsync(Context.User);
                    <ul>
                        <li><a  asp-area="" asp-controller="Carts" asp-action="Details" asp-route-id=@user.CartId><i class="fas fa-qrcode"></i> Basket</a></li>

                    </ul>
                    
                }
                else
                {
                    <ul>
                        <li><a href="/Identity/Account/Login"><i class="fas fa-qrcode"></i> Basket</a></li
                    </ul>
                }
                <partial name="_LoginPartial.cshtml" />
                @* <li><a href="#"><i class="fas fa-qrcode"></i>
                    Dashboard</a></li>
                <li><a href="#"><i class="fas fa-link"></i>
                    Shortcut</a></li>
                <li><a href="#"><i class="fas fa-qrcode"></i>
                    OverView</a></li>
                <li><a href="#"><i class="fas fa-qrcode"></i>
                    Login</a></li>
                <li><a href="#"><i class="fas fa-qrcode"></i>
                    Logout</a></li> *@
            </ul>
        </div>
        <div class="social_media">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
         
        </div>
        </div>
        
    </div>

    @* NavBar-------------- *@
        <nav class="navbar">
            <div class="nav-left">
                <div class="navbar-burger">
                <ul>
                    <li>
                         <div class="btn_one">
            <label for="check">
                <i class="fas fa-bars"></i>
            </label>
        </div>
                    </li>
                </ul>
       </div>
                    
            <div class="navbar-links">
                <ul>
                    
                   
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">NEW IN</a></li>
                    <li><a asp-area="" asp-controller="Collections" asp-action="Index">Collections</a></li>
                @*     <li><a asp-area ="" asp-controller="Collections" asp-action="Index">About</a></li>
                    <li><a  asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li> *@
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a class="nav-link text-dark" asp-area="" asp-action="Manage" asp-controller="Home">Manage</a></li>
                    }
                   
                    
                </ul>
            </div>
            </div>
            <div class="nav-middle">
                <div class="brand-title">
                <img src="/Resources/Logo/LogoSimp.jpg" alt="">
               @*  <div class="profile-pic">
                 <img src="/images/user.png"  onclick="toggleMenu()" alt="">
            </div>
 *@
           
            </div>
            </div>
            <div class="nav-right"> 
                <div class="navbar-links">
                @if (SignInManager.IsSignedIn(Context.User))
                {
                    var user = await UserManager.GetUserAsync(Context.User);
                    <ul>
                        <li><a  asp-area="" asp-controller="Orders" asp-action="Index" asp-route-userId=@user.Id>Orders</a></li>

                        <li><a  asp-area="" asp-controller="Carts" asp-action="Details" asp-route-id=@user.CartId>Basket</a></li>

                    </ul>
                    
                }
                else
                {
                    <ul>
                        <li><a href="/Identity/Account/Login">Basket</a></li
                    </ul>
                }
                 @* <partial name="_LoginPartial.cshtml" /> *@
                
            </div>
            </div>
            

          @*   <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a> *@
            
            
        </nav>
        @* <div class="nav">
            <div class="nav-left">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Collections" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Manage Products</a>
                    </li>
                }
                @if (SignInManager.IsSignedIn(Context.User))
                {
                    var user = await UserManager.GetUserAsync(Context.User);
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Carts" asp-action="Details" asp-route-id=@user.CartId>Basket</a>
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        <a href="Identity/Account/Login" class="nav-link text-dark">Basket</a>
                    </li>
                }
            </div>
            <div class="nav-middle">
                MiliNeu
            </div>
            <div class="nav-right">
                <partial name="_LoginPartial" />
            </div>

            <ul>
                

            </ul>
        </div> *@









        
        
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2023 - MiliNeu - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/nav.js"></script>
    <script async src="~/js/sizeSelector.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
