<div class="socials-container">
    <p class="section-heading">SOCIALS</p>
    <div class="social-items fade-out-bottom">
        <div class="social-item">
            <a target="_blank" href="https://www.instagram.com/studiomilineu/">
                <img decoding="async" loading="lazy" src="/Resources/Images/Common/socials1.png">
                <img decoding="async" loading="lazy" class="instagram-icon" src="/Resources/Images/Common/instagram.png" alt="Instagram Icon">
            </a>
            
        </div>
        <div class="social-item">
            <div class="social-item">
                <a target="_blank" href="https://www.instagram.com/studiomilineu/">
                    <img decoding="async" loading="lazy" src="/Resources/Images/Common/socials2.png">
                    <img decoding="async" loading="lazy" class="instagram-icon" src="/Resources/Images/Common/instagram.png" alt="Instagram Icon">
                </a>

            </div>
        </div>
        <div class="social-item">
            <div class="social-item">
                <a target="_blank" href="https://www.instagram.com/studiomilineu/">
                    <img decoding="async" loading="lazy" src="/Resources/Images/Common/socials3.png">
                    <img decoding="async" loading="lazy" class="instagram-icon" src="/Resources/Images/Common/instagram.png" alt="Instagram Icon">
                </a>

            </div>
        </div>
    </div>
</div>